body {
  background-image: url(../assets/calisunset.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

h3 {
  font-size: 65px !important;
  font-weight: bold !important;
  font-family: "Rock Salt", cursive !important;
  margin-left: 100px !important;
  margin-bottom: 30px !important;
  color: rgb(245, 238, 197) !important;
}

.media {
  /* display: inline-block !important; */
  float: right;
  font-size: 40px;
  margin-left: 240px;
}
nav {
  float: clear;
}

.media h1 {
  float: clear;
  font-size: 40px !important;
  font-weight: bold !important;
  font-family: "Amatic SC", cursive !important;
  /* margin-left: 100px !important;
  margin-bottom: 30px !important; */
  color: rgb(245, 238, 197) !important;
}

#navList {
  font-size: 50px;
  font-family: "Amatic SC", cursive !important;
}

#icons {
  color: rgb(245, 238, 197);
  border-radius: 50%;
}

h1 {
  color: rgb(245, 238, 197) !important;
  font-size: 30px !important;
  font-family: "Rock Salt", cursive !important;
  margin-left: 100px !important;
  padding: 0px !important;
}
